.PieDePagina{
    margin: 15px 0px 0px 0px;
    border: solid 1px #000000;
    background-color: #35537c6e;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    column-gap: 2px;
    padding: 20px;
    align-items: center;
}

.PieDePagina .logo-pie{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.logo-pie img{
    width: 200px;
    height: 100px;
}

.logo-pie p{
    color: white;
    font-size: medium;
}

.h3pie{
    border: solid 3px #fff;
    color: blanchedalmond;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
}

.PieDePagina .mapa{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.mapa iframe{
    border-radius: 15px;
    width: 350px;
    height: 200px
}

.box-seguinos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafo-pie{
    color: whitesmoke;
    font-size: 20px;
    padding: 5px;
}

.red-social{
    @extend %redes;
}