.cuerpoProductos{
    display: flex;
}

.selectorProductos{
    width: 150px;
    height: 22px;
    margin: 30px;
    border-radius: 5px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
}

.tarjetaProductos{
    @extend %ventas;
    
    p{
        color: black;
    }
}